<form action="" method="post">       
    <table>
        <tr>
            <td>Title</td>
            <td>
                <input type="text" name="title" value="{{title}}"}/>
            </td>           
        </tr>
        <tr>
            <td>Content</td>
            <td>
                <textarea name="content" id="content" cols="30" rows="10">{{content}}</textarea>
            </td>             
        </tr> 
        <tr>
            <td>Meta</td>
            <td>
                <textarea name="meta" id="meta" cols="90" rows="10">{{meta}}</textarea>
            </td>             
        </tr> 			
    </table>     
    <p>
        <input type="submit" value="Edit" />   
    </p> 
</form>
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>
	tinymce.init({
	  selector: '#content',
	  height: 500,
	  theme: 'modern',
	  plugins: [
		'advlist autolink lists link image charmap print preview hr anchor pagebreak',
		'searchreplace wordcount visualblocks visualchars code fullscreen',
		'insertdatetime media nonbreaking save table contextmenu directionality',
		'emoticons template paste textcolor colorpicker textpattern imagetools'
	  ],
	  toolbar1: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
	  toolbar2: 'print preview media | forecolor backcolor emoticons, mybutton',
	  image_advtab: true,	
	  setup: function (editor) {
		editor.addButton('mybutton', {
		  title : 'Handlebars',	  
		  image: '..//handlebars.png',
		  onclick: function () {
			editor.insertContent('&nbsp;<!-- ###hbs_start### My Handlebar code ###hbs_stop### -->&nbsp;');
		  }
		});
	  },	  
	  templates: [
		{ title: 'Test template 1', content: 'Test 1' },
		{ title: 'Test template 2', content: 'Test 2' }
	  ],
	  content_css: [
		'//fast.fonts.net/cssapi/e6dc9b99-64fe-4292-ad98-6974f93cd2a2.css',
		'//www.tinymce.com/css/codepen.min.css'
	  ]
	 });
</script> 