
<form action="" method="post">
    <table>
        <tr>
            <td>Email</td>
            <td><input name="email" type="text" /></td>           
        </tr> 
        <tr>
            <td>Password</td>
            <td><input name="password" type="password" /></td>             
        </tr>  
    </table>
    <p>
        <input type="submit" value="Sign in" />   
    </p>    
</form>

<p style="color: red;">
    {{ error }}
</p>

Don't have account?
<a href="/signup">Sign Up</a>    